<div class="player">
  <input type="text" name="player[]" placeholder="Player Name" class="name" autocomplete="off">
  <ul style="display:none;" class="players"></ul>
  <input type="button" class="player-select" value="Search" />
</div>
<span class="clear"></span>