<div class="row">
  <div class="col-md-4">
    <h3>Player/Alliance Search</h3>
    
    {{>allyselect}}
    <p>-- or --</p>
    {{>playerselect}}
  </div>
</div>

<script type="text/javascript">
  var allyEndpoint = '/activity';
</script>

{{>footer}}