<h1>{{title}}</h1>
<ul style="list-style-type:none;">
  <li><a href="/us46/compare">Compare alliances</a></li>
  <li><a href="/us46/bgConquers">BG Conquers</a></li>
  <li><a href="/us46/allianceConquers/4">TBD Conquers</a></li>
  <li><a href="/us46/allianceLosses/4?start=2015-10-10&enemies=1547,301,47,2185">TBD Losses (since Oct 10)</a></li>
</ul>