extends layout

block styles
	link(rel='stylesheet', href='/stylesheets/tipped.css')

block content
	div.map
		- var v = 200
		while (v < 2000)
			span.line-vert(style='left: ' + v + 'px')
			- v += 200
		- var h = 200
		while (h < 2000)
			span.line-horz(style='top: ' + h + 'px')
			- h += 200
		if towns
			each o in towns
				if (o.points < 2000)
					span.town.townSmall(style='left: ' + (o.exactX * 2) + 'px; top: ' + (o.exactY * 2) + 'px;')
				else if (o.points < 6000)
					span.town.townMed(style='left: ' + (o.exactX * 2) + 'px; top: ' + (o.exactY * 2) + 'px;')
				else
					span.town(style='left: ' + (o.exactX * 2) + 'px; top: ' + (o.exactY * 2) + 'px;')
				span.townInfo
					| #{o.name}
					br
					| #{o.player}
					br
					| #{o.points}
					br
					| [town]#{o.id}[/town]

block scripts
	script(type='text/javascript', src='/js/tipped.js')
	script(type='text/javascript', src='/js/map.js')