body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #000 url('../images/bg.jpg') top center no-repeat;
}

.header {
  width: 90%;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  position: relative;
}

.header-right {
  position: absolute;
  top: 0;
  right: 0;
}

.nice-select {
  border: solid #999 1px;
}

.header h1 {
  color: #ffe914;
  font-size: 2.2em;
  text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.6);
}

.content {
  width: 90%;
  background-color: rgba(255,250,226, 0.8);
  margin: 0 auto;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.4);
}

a {
  /*color: #00B7FF;*/
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

td,th {
  padding-right: 8px;
  font-size: 12px;
}

tr.alt td {
  background-color: #ececec;
}

td.center {
  text-align: center;
}

td.bold {
  font-weight: bold;
}

div.calculator {
  background: #efefef;
  max-width: 400px;
  margin: 15px;
  padding: 12px;
  margin-left: 0;
  border-radius: 12px;
  webkit-border-radius: 12px;
  moz-border-radius: 12px;
}

table.updates td, table.updates th {
  text-align: center;
  padding-right: 2em;
}

div.compare {
  /*background: #efefef;*/
  /*max-width: 600px;*/
  /*margin: 15px;
  padding: 12px;
  margin-left: 0;
  border-radius: 12px;
  webkit-border-radius: 12px;
  moz-border-radius: 12px;*/
}

div.compare div.stats {
  width: 240px;
  height: 160px;
  float: left;
}

div.compare ul {
  padding-left: 15px;
}

div.compare li {
  list-style-type: none;
  font-size: 12px;
}

div.compare li span {
  display: block;
  width: 90px;
  font-weight: bold;
  float: left;
}

.conquers td {
  font-weight: bold;
}

div.calculator h4.title {
  margin: 5px 0 15px 0;
}

div.row {
  margin: 5px 0;
}

div.result {
  margin: 10px 0;
  color: green;
  text-align: center;
}

div.result span {
  display: block;
}

.help {
  font-size: 10px;
  color: green;
  padding-left: 5px;
}

.clear {
  display:block;
  height: 1px;
  clear: both;
}

.map-container {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.options {
  margin-bottom: 15px;
}

.allyWrap, .playerWrap {
  margin: 0 15px 15px 0;
  min-height: 65px;
}

.ally, .player {
  margin: 0 15px 15px 0;
  float: left;
}

.allySelect {
  height: 32px;
  line-height: 30px;
  margin-right: 15px;
}

.allySelect .option {
  min-height: 30px;
  line-height: 30px;
}

.addAlly, .addPlayer {
  display: block;
  clear: left;
  width: 250px;
}

.easy-autocomplete {
  float: left;
  margin-right: 15px;
}

.easy-autocomplete-container {
  top: 32px;
}

.color {
  display: none;
}

.player .name {
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
  box-sizing: border-box;
  font-size: 14px;
  height: 32px;
  line-height: 30px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  float: left;
  display: block;
}

ul.players {
    background: #f0f0f0;
    position: relative;
    top: -18px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 10px 0;
    list-style-type: none;
    border: solid 1px #ddd;
}

ul.players li {
  height: 26px;
  line-height: 26px;
  color: #667;
  cursor: pointer;
  padding: 0 10px;
}

ul.players li:hover {
  background-color: #fff;
}

.player a.delete {
  clear: left;
  display: block;
  font-size: 10px;
  text-decoration: none;
}

.map {
  width: 2000px;
  height: 2000px;
  background: url('../images/watertiles.png') repeat;
  position: relative;
}

span.line-vert {
  display: block;
  width: 1px;
  height: 2000px;
  background-color: #fff;
  position: absolute;
  top: 0;
}

span.line-horz {
  display: block;
  width: 2000px;
  height: 1px;
  background: url('../images/linefff.png') repeat-x;
  position: absolute;
  left: 0;
}

span.num {
  display: block;
  position: absolute;
  color: #fff;
}

span.town {
  display: block;
  width: 8px;
  height: 8px;
  background-color: green;
  position: absolute;
  border-radius: 5px;
  border: #333 solid 1px;
  z-index: 100;
}

span.ghost {
  background-color: gray;
  z-index: 999;
}

span.townMed {
  width: 6px;
  height: 6px;
  border-radius: 4px;
}

span.townSmall {
  width: 4px;
  height: 4px;
  border-radius: 3px;
}

span.townInfo {
  display: none;
}

.nice-select .list {
  max-height: 300px;
  overflow: scroll;
}

tr.red td {
  font-weight: bold;
  color: red;
}

tr.red a {
  font-weight: bold;
  color: red;
}